
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Home Page</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Mark Tyers">
		<meta name="viewport" content= "width=device-width, initial-scale=1.0">
		<link href="/style.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<header>
			<h1>Home</h1>
			{{#if authorised}}
				<a href="/logout">Log out</a>
			{{else}}
				<a href="/login">Log in</a>
			{{/if}}
		</header>
	<main><p>
		<form method='post' action='/books' style='display:flex;flex-direction:column;width:300px;'>
            <label>Name</label>
            <input name='name' type="text" />
			<label>Author</label>
            <input name='author' type="text" />
            <label>ISBN</label>
            <input name='isbn' type="number" />
            <label>Dewey Number</label>
            <input name='dewey' type="text" />
            <label>Quantity</label>
            <input name='quantity' type="range" min="1" max="10"/>
            <label>Loan Period</label>
            <select name='loanperiod' value= "7">
                <option value="1">24 Hours</option>
                <option value="2">2 Days</option>
                <option value="7" selected>1 Week</option>
                <option value="14">2 Weeks</option>
                <option value="30">1 Month</option>
				<option value="60">2 Month</option>
            </select>
            <button>Add Book</button>
		</form></p>
	</main>
	</body>
</html>
