
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Manage Users</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Mark Tyers">
		<meta name="viewport" content= "width=device-width, initial-scale=1.0">
		<link href="/style.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<header>
			<h1>Manage Users</h1>			
				<a href="/login">Log Out</a>			
		</header>
	<main>
		<p>
			<table cellspacing="0">
				<tr>
					<th>Name</th>
					<th>Number of Books Borrowed</th>
				</tr>
				{{#each books}}
                <tr>
                    <td><a href="/manageusers/{{this.user}}">{{this.user}}</a></td>
                    <td>{{this.books}}</td>
                </tr>
                {{/each}}
			</table>
			
		</p>
		
	</main>
	</body>
</html>
